<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <!-- Other head elements -->
</head>

<body>
    <%- include ('partials/header') %>

        <!-- Main content will go here -->
        <div class="container">
            <%- body %>
        </div>

        <%- include ('partials/footer') %>

            <!-- Other scripts -->
</body>

</html>